@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
    background-color: #333;
}

body,
input,
textarea,
a,
button {
    margin: 0;
    font-family: Inter, Helvetica, Verdana, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    color: #fff;
}

* {
    transition: border-color 0.3s, background-color 0.3s !important;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}

/* Colors */

#header,
.important,
.services {
    background-color: #505050;
}

.services address {
    color: #ccc;
}

.button,
input,
textarea {
    border: 2px solid;
    text-decoration: none;
}

.primary.button {
    background-color: #3766BF;
}

.primary.button:hover,
.primary.button:focus {
    background-color: #375FAA;
}

.primary.button:active {
    background-color: #355187;
}

.primary.button.destructive {
    background-color: #C03434;
}

.primary.button.destructive:hover,
.primary.button.destructive:focus {
    background-color: #AB3434;
}

.primary.button.destructive:active {
    background-color: #883434;
}

.secondary.button {
    border-color: #3766BF;
    background-color: #35486B;
}

.secondary.button:hover,
.secondary.button:focus {
    background-color: #343F56;
}

.secondary.button:active {
    background-color: #333840;
}

.tertiary.button,
input,
textarea {
    background-color: #505050;
    border-color: #676767;
}

.tertiary.button:hover,
input:hover,
textarea:hover,
#header .btns img:hover {
    background-color: #454545;
}

.tertiary.button:focus,
#header .btns img:focus {
    background-color: #454545;
}

:focus {
    border-color: #ccc;
    outline: none;
}

.tertiary.button:active,
#header .btns img:active {
    background-color: #3a3a3a;
}

.services a:focus,
.services a:hover {
    background-color: #5b5b5b;
}

.services a:active {
    background-color: #616161;
}

/* Headings */

h1,
h2,
h3 {
    margin: 0;
}

h1,
h2 {
    font-size: 24px;
    line-height: 24px;
}

h3 {
    font-size: 16px;
    line-height: 16px;
}

/* Header */

#header {
    padding: 16px 32px;
}

#header .btns {
    width: 80px;
}

#header .btns>img {
    width: 24px;
    height: 24px;
    padding: 8px;
    margin-top: -8px;
    vertical-align: middle;
    /* fix weird padding */
    border-radius: 16px;
}

.heading-with-btns {
    align-items: center;
}

.heading-with-btns h1,
.heading-with-btns h2 {
    display: inline;
    clear: both;
}

.heading-with-btns .btns {
    float: right;
}

/* Main */

#main {
    padding: 32px;
}

.important,
.services {
    padding: 0 16px 16px 16px;
    border-radius: 16px;
}

.services>* {
    padding-top: 8px;
}

.important>* {
    padding-top: 16px;
}

.services a {
    padding: 8px;
    border-radius: 8px;
    display: block;
    text-decoration: none;
}

.services {
    list-style: none;
    padding: 0 8px 8px 8px;
    overflow: hidden;
}

.services address {
    font-style: normal;
    line-height: 20px;
}


#main>.container>* {
    margin-bottom: 32px;
}

/* Buttons */

.button,
input,
textarea {
    border-radius: 16px;
    height: 24px;
    font-size: 16px;
    line-height: 16px;
    padding: 6px 14px;
    height: 40px;
    box-sizing: border-box;
}

.button>img {
    width: 16px;
    height: 16px;
    margin-left: 8px;
    vertical-align: baseline;
}

.button.no-text>img {
    width: 24px;
    height: 24px;
    margin-left: 0;
}

.docs {
    position: relative;
    top: 1px;
}

::placeholder {
    color: #ccc;
    opacity: 1;
}

::-ms-input-placeholder {
    color: #ccc;
}

.code {
    font-family: JetBrains Mono, Consolas, 'Courier New', Courier, monospace;
}

.button {
    display: block;
    text-align: center;
    line-height: 24px;
}

.button.primary {
    border: none;
    font-weight: bold;
    padding: 8px 16px;
}

.container>.button {
    width: 100%;
}

textarea,
input {
    height: 100%;
    min-height: 24px;
    width: 100%;
    display: block;
    line-height: 24px;
}

textarea {
    resize: vertical;
}

ul {
    padding-left: 16px;
    margin-bottom: 0;
}

.button-row {
    display: flex;
    gap: 8px;
    flex-direction: row-reverse;
}

.button-row>.button {
    margin-top: 8px;
    width: 100%;
}

.button-row>.small {
    flex-shrink: 1000;
}

.name {
    font-size: 24px;
    font-weight: bold;
}