@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
    background-color: #333;
    color: #fff;
}

body,
button {
    margin: 0;
    font-family: Inter, Helvetica, Verdana, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    color: #fff;
}

#header,
.important {
    background-color: #444;
}

#header {
    padding: 16px 32px;
}

#main {
    padding: 32px;
}

.important {
    padding: 0px 16px 16px 16px;
    border-radius: 16px;
}

.important>* {
    padding-top: 16px;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}

.heading-with-btns {
    align-items: center;
}

.heading-with-btns>h1,
.heading-with-btns>h2,
.heading-with-btns>h3 {
    display: inline;
    clear: both;
}

.heading-with-btns .btns {
    float: right;
}

#header .btns {
    width: 80px;
}

#header .btns>img {
    width: 24px;
    height: 24px;
    padding-left: 16px;
    vertical-align: middle;
}

h1,
h2 {
    font-size: 24px;
    line-height: 24px;
    margin: 0;
}

h3 {
    font-size: 16px;
    line-height: 16px;
    margin: 0;
}

.services>li.running h3:after {
    content: url("/icons/running.svg");
    width: 16px;
    height: 16px;
    margin-left: 8px;
    display: inline-block;
    vertical-align: baseline;

    /* awful hack */
    position: relative;
    top: 2px;
}

ul.services {
    list-style: none;
}

ul.services>li>address {
    font-style: normal;
    color: #ccc;
    line-height: 20px;
}


#main>.container>* {
    margin-bottom: 32px;
}

/* Buttons */

button,
input,
textarea {
    border-radius: 16px;
    border: 2px solid;
    height: 24px;
    font-size: 16px;
    line-height: 16px;
    padding: 6px 14px;
    height: 40px;
}

button>img {
    width: 16px;
    height: 16px;
    margin-left: 8px;
    vertical-align: baseline;

    /* awful hack */
    position: relative;
    top: 2px;
}

button.no-text>img {
    width: 24px;
    height: 24px;
    margin-left: 0;
    vertical-align: middle;
    top: 0;
}

button.secondary {
    background-color: #30403F;
    border-color: #248C83;
}

button.tertiary,
input,
textarea {
    background-color: #3b3b3b;
    border-color: #676767;
    color: #fff;
    text-rendering: optimizeLegibility;
    font-family: Inter;
    font-weight: normal;
}

::placeholder {
    color: #ccc;
    opacity: 1;
}

::-ms-input-placeholder {
    color: #ccc;
}

.code {
    font-family: JetBrains Mono;
}

button.primary {
    background-color: #248C83;
    border: none;
    font-weight: bold;
    padding: auto;
}

button.primary.destructive {
    background-color: #AB4252;
}

.container>button {
    width: 100%;
}

textarea,
input {
    height: 100%;
    min-height: 24px;
    width: 100%;
    margin: 0 -16px;
    display: block;
    line-height: 24px;
}

.input {
    padding: 0 16px;
}

ul {
    padding-left: 16px;
    margin-bottom: 0px;
}

.button-row {
    display: flex;
    gap: 8px;
    flex-direction: row-reverse;
}

.button-row>button {
    margin-top: 8px;
    width: 100%;
}

.button-row > .small {
    flex-shrink: 1000;
}